[report]
omit = 
    ~/Documents/Code/Python_Code/cache-test/env/*,
    ~/Documents/Code/Python_Code/cache-test/django_cache/manage.py,
    ~/Documents/Code/Python_Code/cache-test/django_cache/django_cache/*,
    ~/Documents/Code/Python_Code/cache-test/django_cache/testappmodel/migrations/*,
    ~/Documents/Code/Python_Code/cache-test/django_cache/testappmodel/tests/*,
    ~/Documents/Code/Python_Code/cache-test/django_cache/testappmodel/__init__.py,


