[run]
branch = True
omit =
    */tests*
    */migrations/*
    *__init__.py*
    *admin.py*
    */env/*
    *manage.py*
    */django_cache/django_cache/*


[report]
omit = 
    */tests*
    */migrations/*
    *__init__.py*
    *admin.py*
    */env/*
    *manage.py*
    */django_cache/django_cache/*

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
