amqp==2.5.1
autopep8==1.4.4
billiard==3.6.1.0
celery==4.3.0
Django==2.2.5
django-nine==0.2.2
django-redis==4.10.0
django-rest-framework-tricks==0.2.10
djangorestframework==3.10.3
importlib-metadata==0.20
kombu==4.6.4
minepy==1.2.4
more-itertools==7.2.0
mysql-connector-python==8.0.17
mysqlclient==1.4.4
numpy==1.17.1
protobuf==3.9.1
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pytz==2019.2
redis==3.3.8
Shapely==1.6.4.post2
six==1.12.0
sqlparse==0.3.0
vine==1.3.0
zipp==0.6.0
